{% extends "base_main.html" %}

{% block title %}<title>BISMS - About</title>{% endblock %}

{% load static %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 align="center">Bank's Information Security Management System</h1>
    <br>
    <h2 align="center">Функциональный прототип системы по управлению и анализу рисков информационной безопасности банка</h2>
    <br>
    <p align="center">Работу выполнил студент <b>Шевляков Илья Николаевич</b></p>
    <p align="center">Группа: <b>НПИбд-02-17</b> Студенческий билет: <b>1032176414</b></p>
    <p align="center"><b>РУДН 2021</b></p>

{% endblock %}