<!DOCTYPE html>
{#<html lang="en">#}
<head>
    <meta http-equiv="refresh" content="5;URL=/accounts/login" />
    <title>BISMS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static '/images/favicon.jpg' %}">
</head>

<body>

<div class="welcome">
    <div style="display: flex; justify-content: center;">
    <img src="{% static 'images/logo.png' %}" alt="BISMS" class="logo" >
    </div>
    <h1 align="center">Bank Information Security Management System</h1>
    <h2 align="center">Добро пожаловать!</h2>
</div>

</body>
</html>